version: "3"
services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    user: 1002:1002
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Regina
    ports:
      - 5055:5055
    volumes:
      - ./config:/app/config
    restart: unless-stopped
networks:
  arr_default:
    external: true
  jellyfin_default:
    external: true